.Header {
  min-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  column-gap: 2rem;
  &__Logo {
    width: 10rem;
  }
  &__Nav {
    display: none;
    width: 100%;
    @media screen and (min-width: 768px) {
      display: inline;
    }
    ul {
      display: flex;
      justify-content: flex-start;
      column-gap: 10px;
      li {
        font-size: 1.2rem;
      }
    }
  }
  &__Checkout {
    width: 5rem;
  }
}