@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: #3c484e;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #3c484e;
  text-decoration: none;
}
.Main {
  grid-template-columns: minmax(auto, 1024px);
  display: grid;
  justify-content: center;
  height: 100vh;
  position: relative;
}